/**
 * index.scss
 * - Add any styles you want here!
 */

body {
  background: #f5f5f5;
}

.button {
  margin-bottom: 20px;
}
#column1 {
  width: 50%;
  float: left;
}

#column2{
  width: 50%;
  float: right;
}
.btn-slant-blue .btn-blue-slant {
    border-left: solid 1px #ffffff;
    height: 30px;
    padding: 6px 16px 6px 15px;
    position: absolute;
    right: 0;
    top: 0;
    -moz-transform: skew(-20.01deg);
    -ms-transform: skew(-20.01deg);
    -o-transform: skew(-20.01deg);
    -webkit-transform: skew(-20.01deg);
    transform: skew(-20.01deg) !important;
}

.btn-slant-blue {
    background-color: #40b7d1;
    height: 30px;
    font-size: 13px;
    font-family: "ClanPro-Black", sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-right: 55px !important;
    position: relative;
    padding-top: 12px !important;
    color: #ffffff;
}

a, a:hover, a:focus {
    outline: none;
    transition-duration: 0.3s;
    text-decoration: none;
}


.btn.focus, .btn:focus, .btn:hover {
    text-decoration: none;
}

.btn-slant-blue:hover, .btn-slant-blue:active, .btn-slant-blue.active {
    color: #ffffff !important;
}

.btn-slant-blue:hover, .btn-slant-blue:active, .btn-slant-blue.active {
    background-color: #009ec2 !important;
}

.btn-slant-blue:hover .btn-blue-slant, .btn-slant-blue:active .btn-blue-slant, .btn-slant-blue.active .btn-blue-slant {
    border-left-color: #ffffff !important;
}

.btn {
    line-height: 1.42857;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 400;
    padding-left: 30px;
    background-image: none;
}

.btn-slant-blue .btn-blue-slant .fa {
    font-size: 18px;
    height: 5px;
    vertical-align: middle;
    transform: skew(20.01deg);
}

.btn-slant-grey .btn-grey-slant {
    border-left: solid 1px #ffffff;
    height: 30px;
    padding: 6px 16px 6px 15px;
    position: absolute;
    right: 0;
    top: 0;
    -moz-transform: skew(-20.01deg);
    -ms-transform: skew(-20.01deg);
    -o-transform: skew(-20.01deg);
    -webkit-transform: skew(-20.01deg);
    transform: skew(-20.01deg) !important;
}

.btn-slant-grey {
    background-color: #999999;
    height: 30px;
    font-size: 13px;
    font-family: "ClanPro-Black", sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-right: 55px !important;
    position: relative;
    padding-top: 12px !important;
    color: #ffffff;
}

a, a:hover, a:focus {
    outline: none;
    transition-duration: 0.3s;
    text-decoration: none;
}


.btn.focus, .btn:focus, .btn:hover {
    text-decoration: none;
}

.btn-slant-grey:hover, .btn-slant-grey:active, .btn-slant-grey.active {
    color: #ffffff !important;
}

.btn-slant-grey:hover, .btn-slant-grey:active, .btn-slant-grey.active {
    background-color: #666666 !important;
}

.btn-slant-grey:hover .btn-grey-slant, .btn-slant-grey:active .btn-grey-slant, .btn-slant-grey.active .btn-grey-slant {
    border-left-color: #ffffff !important;
}

.btn {
    line-height: 1.42857;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 400;
    padding-left: 30px;
    background-image: none;
}

.btn-slant-grey .btn-grey-slant .fa {
    font-size: 18px;
    height: 5px;
    vertical-align: middle;
    transform: skew(20.01deg);
}

.btn-ghost-blue .btn-slant {
    border-left: solid 1px #009ec2;
    height: 30px;
    padding: 6px 16px 6px 15px;
    position: absolute;
    right: 0;
    top: 0;
    -moz-transform: skew(-20.01deg);
    -ms-transform: skew(-20.01deg);
    -o-transform: skew(-20.01deg);
    -webkit-transform: skew(-20.01deg);
    transform: skew(-20.01deg) !important;
}

.btn-ghost-blue {
    background-color: transparent;
    border: solid 1px #009ec2;
    font-size: 13px;
    height: 30px;
    font-family: "ClanPro-Black", sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-right: 55px !important;
    position: relative;
    padding-top: 12px !important;
    color: #009ec2;
}

a, a:hover, a:focus {
    outline: none;
    transition: background 0.3s;
    text-decoration: none;
}


.btn.focus, .btn:focus, .btn:hover {
    text-decoration: none;
}

.btn-ghost-blue:hover, .btn-ghost-blue:active, .btn-ghost-blue.active {
    color: #ffffff !important;
}

.btn-ghost-blue:hover, .btn-ghost-blue:active, .btn-ghost-blue.active {
    background-color: #009ec2 !important;
}

.btn-ghost-blue:hover .btn-slant, .btn-ghost-blue:active .btn-slant, .btn-ghost-blue.active .btn-slant {
    border-left-color: #ffffff !important;
}

.btn {
    line-height: 1.42857;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 400;
    padding-left: 30px;
    background-image: none;
}

.btn-ghost-blue .btn-slant .fa {
    font-size: 18px;
    height: 5px;
    vertical-align: middle;
    transform: skew(20.01deg);
}

.toggle-buttons {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.filter-checkbox {
    padding: 27px 0 37px;
    color: #999999;
    font-size: 0;
    line-height: 0; 
}

.filter-checkbox .filter-checkbox__item {
    font-size: 13px;
    padding: 15px 15px 12px;
    background: transparent;
    border: 1px solid #999999;
    display: inline-block;
    cursor: pointer;
    font-family: "ClanPro-Black", sans-serif;
    line-height: 1.5em;
    margin: 0 10px 10px 0;
    text-transform: uppercase;
    vertical-align: top;
    letter-spacing: 0.05em;
}

.filter-checkbox .filter-checkbox__item.category-selected {
    border: 1px solid #009fc2;
    background: #009fc2;
    color: #fff;
}

.filter-checkbox a {
    color:#999999;
}

.filter-checkbox span:hover {
    background-color: #009fc2!important;
    color: #fff;
    border: 1px solid #009fc2;
    transition: background 0.3s;
}
#background {
   background-color: #f4f4f4 !important;
   height: 50px;
   width: 200px;
   padding-top: 10px !important;
   padding-left: 10px !important;
}
.checkbox {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 2px solid #e6e6e6;
    position: relative;
    color: #999999;
}

.checkbox input[type="checkbox"] {
    visibility: hidden;  
}

.checkbox label {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
}

.checkbox label:before {
    content: "\f00c";
    font-family: "FontAwesome";
    font-size: 30px;
    color: #009ec2;
    opacity: 0;
}

.checkbox input[type="checkbox"]:checked + label:before {
    opacity: 1;
}

.checkbox input[type="checkbox"]:checked + label {
    color: #333;
}

span {
   font-family: "ClanPro-News", sans-serif;
   font-size: 14px;
   padding-left: 11px;
   vertical-align: super;
}

#radio-button {
  max-width: 400px;
  margin: 0px auto 0 auto;
  background-color: #f4f4f4;
}

#radio-button input[type="radio"] {
  position: absolute;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  -o-opacity: 0;
}

#radio-button input[type="radio"] + label {
  position: relative;
  padding: 9px 0 0 39px;
  font-size: 16px;
  line-height: 50px;
  margin: 0 0 20px 0;
  font-family: "ClanPro-News", sans-serif;
  color: #999999;
  font-size: 16px;
  
}

#radio-button input[type="radio"] + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  height: 30px;
  width: 30px;
  background: white;
  border: 1px solid gray;
  box-shadow: inset 0px 0px 0px 4px white;
  -webkit-box-shadow: inset 0px 0px 0px 4px white;
  -moz-box-shadow: inset 0px 0px 0px 4px white;
  -o-box-shadow: inset 0px 0px 0px 4px white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius:20px;
}

#radio-button input[type="radio"]:checked + label:before {
  background: #009ec2;
  border: 1px solid #009ec2;
}

#radio-button input[type="radio"]:checked + label {
  color: #333;
  font-family: "ClanPro-News", sans-serif;
}